<h1><%= @staff.name %></h1>

<div id="show_data">
<%= render('staff/data') %>
</div>


<table class="table table-striped search-table">
  <thead>
    <tr>
      <th>Contacts this staff made</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
        <td><%= link_to("/contact/#{contact.id}") do%><%= contact.contact_day %> | <%= contact.customer %> <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>