<% provide(:title, "Customer Info")%>

<h1><%= @customer.company %></h1>
<table class="customer-info-table table table-inverse">

  <thead>
    <tr>
      <th>Company</th><th>Staff Name</th><th>Email</th><th>TEL</th><th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @customer.company%></td><td><%= @customer.name %></td><td><%= @customer.email %></td><td><%= @customer.telephone %><td><%= @customer.address %></td>
    </tr>
  </tbody>
</table>


<div>
  <form action="<%= "/customers/#{@customer.id}/edit" %>" method="get" >
      <button type="submit" class="btn btn-primary">Edit Company Info</button>
  </form>
</div>


<div id="contact_histroy_with_our_company">
  <h2>Contact History with our company</h2>
  <table class="customer-info-table table table-striped">

  <thead>
    <tr>
      <th>Contact day</th><th>Contact Staff</th><th>How to contact</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact|%>
    <tr>
      <td><%= contact.contact_day %></td><td><%= Staff.find_by(id: contact.staff_id).name %></td><td><%= contact.contact_way %></td><td><%= link_to("show","/contact/#{contact.id}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
