<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_name(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <h1>Customer Management</h1>
    </header>

    <% if flash[:notice] %>
    <div id="flash" class="alert alert-success">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <div id="yield">
      <%= yield %>
    </div>

    <footer>
      <h2>footer</h2>
    </footer>
  </body>
</html>
