<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_name(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <h1>Customer Management</h1>

      <div class="btn-group" id="header-list">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/">Home</a>
        <a class="dropdown-item" href="/customers">Cutomers</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Log out</a>
        <a class="dropdown-item" href="/login">Log in</a>
        <a class="dropdown-item" href="/signup">Sign up</a>
      </div>
    </div>
    </header>

    <% if flash[:notice] %>
    <div id="flash" class="alert alert-success">
      <%= flash[:notice] %>
    </div>
    <% end %>

    <div id="yield">
      <%= yield %>
    </div>

    <footer>
      <h2>footer</h2>
    </footer>
  </body>
</html>
